<header class="header z-3">
    <div class="header__container">
        <div class="header__logo">
            <img src="https://epica.educativa.org/archivos/logos/EPICA1.png" alt="Logo EPICA" >
        </div>
        <ul class="header__titles">
            <li><a href="/" class="">Foro</a></li>
        </ul>
    </div>
</header>